* {
    font-family: 'Stencil', 'Berlin Sans FB Demi', arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 'Segoe UI';
   }

body {
    height: 907px;
    width: 720px;
    margin: 4px 0 0 20%;
    border: 4px solid #BA0DFF;
    padding: 4px;
    border-radius: 10px;
    }

/*Ocultar secciones con clase 'hide'*/
.hide {
    display: none;
}

header {
    height: 145.6px;
    text-align: center;
    color: rgb(139, 18, 18);
    font-size: 54px;
    font-weight: bolder;
}

main {
    height: 582px;
    color: black;
    font-weight: bolder;
    background-image:url(style/cipher-background.png);
    background-size: contain;
    background-repeat: repeat;
    padding: 10px;
}

footer {
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
}

#welcome, #exit {
    font-size: 27px;
}

#exit {
    text-align: center;
}

#options {
    font-size: 24px;
}

#decode, #encode {
    font-size: 20px;
}

/*seciones y botones*/

#encode-option, #decode-option {
    width: 48%;
    height: 275px;
    padding-top: 2px;
    text-align: center;
}

#encode-form, #decode-form {
    width: 48%;
    height: 275px;
    padding-top: 8px;
}


/*botones*/
#decode-option-button, #encode-option-button {

}

/* imágenes*/
#logo, #hide-detective, #decode-option, #dog,
#encode-form, #decode-form,
#output-decode, #output-encode {
    float: left;
}

#Key, #hat, #pipe, #encode-option, #Set, #cipher2 {
    float: right;
}

#logo {
    top: 1.9%;
    left: 23%;
    height: 200px;
    width: 155px;
    position: absolute;
}

#hat {
    top: -151%;
    left: -3%;
    position: relative;
}

#pipe {
    top: -10%;
    left: 1%;
    position: relative;
}

#Key {
    height: 380px;
    width: 214px;
    padding-left: 20px;
}

#Key2 {
    height: 340px;
    width: 194px;
    padding-left: 20px;
    padding-right: 7px;
}

#hide-detective {
    height: 157px;
    width: 145px;
}

#dog {
    height: 200px;
    width: 166px;
    padding-top: 4px;
    padding-right: 12px;
}

#cipher2 {
    width: 70px;
    height: 70px;
    top: 100%;
    left: 0%;
    position: relative;
}

/* input */

#decode-input1, #encode-input1 {
    height: 100px;
    width: 300px;
    border-width: 3px;
    font-size: 15px;
    margin-top: 15px;
}

#decode-input2, #encode-input2 {
    height: 18px;
    width: 34px;
    border-width: 2px;
    font-size: 12.5px;
}

/* output */

#decode-output, #encode-output {
    height: 100px;
    width: 300px;
    border-width: 3px;
    font-size: 15px;
    margin-top: 15px;
}

#output-decode, #decode-input2, #encode-input2,
#decode-button, #encode-button {
margin-top: 17px;
}

/* COLORES

#B30C52
#BA0DFF
#FFBA26
*/