* {
    font-family:  'Allerta Stencil', sans-serif;
   }

   body {
    background-image:url(style/cipher-background.png);
    background-size: contain;
    background-repeat: repeat;
   }

.template {
    height: 907px;
    width: 720px;
    margin: 0 auto;
    border: 6px solid rgb(142, 5, 196);
    padding: 4px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

/*Ocultar secciones con clase 'hide'*/
.hide {
    display: none;
}

header {
    height: 142px;
    text-align: center;
    color: rgb(139, 18, 18);
    font-size: 56px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}

main {
    height: 655px;
    color: black;
    padding: 10px;
}

footer {
    padding: 10px;
    font-size: 15px;
}


/* secciones */
#welcome, #options {
    font-size: 29px;
}

#decode, #encode {
    font-size: 20px;
}

#exit {
    text-align: center;
    font-size: 31px;
}

/* parrafos */
#welcome h2 {
    margin-top: 32px;
    margin-bottom: 60px;
    font-size: 40px;
    }

#welcome p {
margin-top: 38px;
}

#options h2 {
    margin-top: 17px;
    margin-bottom: 38px;
    font-size: 30px;
    font-weight: 500;
    }

#p-question {
    margin-top: 55px;
    margin-bottom: 13px;
}

.options {
    margin-bottom: 0px;
}

#encode-option p, #decode-option p {
    margin-top:8px;
}

#p-header1 {
margin: 0;
text-align: center;
}

#p-header2 {
    margin: 0;
    padding-left: 40%;
    }


/*subsecciones*/

#encode-option, #decode-option {
    width: 49.5%;
    height: 189px;
    text-align: center;
    border-radius: 22px;
    padding-top: 2.7;px;
    font-size: 18px;
    font-weight: 400;
}

#encode-option:hover, #decode-option:hover {
    background-color:rgba(255, 236, 220, 0.63);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#encode-form {
    width: 64%;
}

#decode-form {
    width: 50%;
}

#encode-form, #decode-form {
    height: 275px;
    padding-top: 8px;
}

#encode-form h3 {
    margin-bottom: 10px;
}

/*botones*/

#start, #return-start {
    margin-top: 22px;
    padding-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    align-self: center;
    cursor: pointer;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#decode-option-button, #encode-option-button {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#decode-button, #encode-button,
#return-options1, #return-options2,
#go-exit1, #go-exit2 {
    margin-top: 20px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
}

/* imágenes y subsecciones*/
#logo, #hide-detective, #decode-option, #dog,
#encode-form, #decode-form {
    float: left;
}

#Key, #Key2, #hat, #encode-option, #Set, #cipher2, #pipe, #Set2 {
    float: right;
}

#logo {
    margin-left: 8px;
    border-radius: 8px;
}

#hat {
    margin-right: 10px;
}

#pipe {
    position: relative;
    margin-right: 20px;
    top: -20px;
}

#Key {
    padding-left: 20px;
    width: 37%;
}

#Key2 {
    margin-left: 20px;
    margin-top: 0px;
}

#Set {
    width: 30%;
}

#dog {
    height: 200px;
    width: 166px;
    padding-top: 4px;
    padding-right: 12px;
}

#Set2 {
    width: 37%;
    margin-left: 23px;
    margin-top: -50px;
}

#cipher2 {
    width: 12%;
    margin-right: 8px;
    border-radius: 8px;
}

/* input y output*/

#decode-input1, #encode-input1,
#decode-output, #encode-output {
    height: 95px;
    width: 315px;
    border-width: 3px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 15px;
}

#decode-input2, #encode-input2 {
    height: 22px;
    width: 40px;
    border-width: 2px;
    font-size: 12.5px;
    margin-top: 12px;
    border-radius:7px;
}

/* output  oculto*/


#decode-label, #encode-label {
    margin-top: 15px;
}

.label-offset {
    font-size: 19px;
}

/* COLORES

#B30C52
#BA0DFF
#FFBA26
*/