* {
    font-family:  'Allerta Stencil', sans-serif;
   }

body {
    height: 907px;
    width: 720px;
    margin: 4px 0 0 20%;
    border: 4px solid #BA0DFF;
    padding: 4px;
    border-radius: 10px;
    }

/*Ocultar secciones con clase 'hide'*/
.hide {
    display: none;
}

header {
    height: 142px;
    text-align: center;
    color: rgb(139, 18, 18);
    font-size: 56px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

main {
    height: 650px;
    color: black;
    background-image:url(style/cipher-background.png);
    background-size: contain;
    background-repeat: repeat;
    padding: 10px;
    font-weight: bold;
}

footer {
    padding: 10px;
    font-size: 15px;
}


/* secciones */
#welcome, #exit {
    font-size: 28px;
}

#exit {
    text-align: center;
}

#options {
    font-size: 24px;
}

#decode, #encode {
    font-size: 20px;
}

#welcome p {
margin-top: 50px;
}

#p-header1 {
margin: 0;
text-align: center;
}

#p-header2 {
    margin: 0;
    padding-left: 40%;
    }

/*subsecciones*/

#encode-option, #decode-option {
    width: 49%;
    height: 275px;
    padding: 2px;
    text-align: center;
    border-radius: 22px;
}

#encode-option:hover, #decode-option:hover {
    background-color:rgba(255, 236, 220, 0.63);
    cursor: pointer;
}


#encode-form, #decode-form {
    width: 48%;
    height: 275px;
    padding-top: 8px;
}


/*botones*/

#start {
    margin-top: 40px;
}

#return-start {
    margin-top: 18px;
}

#start, #return-start {
    padding-top: 10px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    align-self: center;
    cursor: pointer;
    padding-bottom: 10px;
}

#decode-option-button, #encode-option-button {
    border-radius: 10px;
}

#decode-button, #encode-button,
#return-options1, #return-options2,
#go-exit1, #go-exit2 {
    margin-top: 20px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/* imágenes y subsecciones*/
#logo, #hide-detective, #decode-option, #dog,
#encode-form, #decode-form {
    float: left;
}

#Key, #hat, #pipe, #encode-option, #Set, #cipher2 {
    float: right;
}

#logo {
    margin-left: 8px;
    top: 2.2%;
    left: 21.2%;
    position: absolute;
    border-radius: 8px;
}

#pipe {
    top: -10%;
    left: 1%;
    position: relative;
}

#Key {
    padding-left: 20px;
    width: 37%;
}

#Key2 {
    padding-left: 50px;
    padding-top: 50px;
}
/*
#hide-detective {
    height: 157px;
    width: 145px;
} */
#dog {
    height: 200px;
    width: 166px;
    padding-top: 4px;
    padding-right: 12px;
}

#cipher2 {
    width: 12%;
    top: 100%;
    left: 0%;
    position: relative;
    border-radius: 8px;
}

/* input y output*/

#decode-input1, #encode-input1,
#decode-output, #encode-output {
    height: 95px;
    width: 315px;
    border-width: 3px;
    font-size: 15px;
    margin-top: 15px;
    border-radius: 15px;
}

#decode-input2, #encode-input2 {
    height: 18px;
    width: 40px;
    border-width: 2px;
    font-size: 12.5px;
    margin-top: 12px;
    border-radius:7px;
}

/* output  oculto*/


#decode-label, #encode-label {
    margin-top: 15px;
}


/* COLORES

#B30C52
#BA0DFF
#FFBA26
*/